<!DOCTYPE html>
<html lang="en" data-cppbekend="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="static/favicon.png">
    <title>Home</title>
</head>
    <script type="module">
        import { createApp } from 'https://unpkg.com/petite-vue?module'

        createApp({
            count: 0,
            name: JSON.parse(document.documentElement.dataset.cppbekend).username,
            audio: new Audio("static/fart-with-reverb.mp3"),
            plus() {
                this.audio.currentTime = 0;
                this.audio.play();
                this.count++;
            }
        }).mount();
    </script>

    <div v-scope>
        <h1>hoi {{ name }} mi is maxwell</h1>
        <img src="static/maxwell.jpg" width="400" height="225" />
        <br>
        <button @click="plus">clicc me: {{ count }}</button>
    </div>
</body>
</html>